<!-- Unassign Asset Modal -->
<div class="modal fade" id="unassignAssetModal" tabindex="-1" aria-labelledby="unassignAssetLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unassignAssetLabel">Unassign an Asset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="unassignAssetForm">
                    <div class="mb-3">
                        <label for="userSelect2" class="form-label">Select User</label>
                        <select class="form-select" id="userSelect2" required>
                            <option selected disabled value="">Choose a user...</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="assetSelect2" class="form-label">Select Asset</label>
                        <select class="form-select" id="assetSelect2" required>
                            <option selected disabled value="">Choose an asset...</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="commentBox" class="form-label">Unassignment Comment</label>
                        <textarea id="commentBox" class="form-control" rows="3" placeholder="Reason for unassignment..."
                            ></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center gap-3">
                
                <button type="submit" form="unassignAssetForm" class="btn custom-modal-btn custom-submit-btn">Unassign
                    Asset</button>
            </div>
        </div>
    </div>
</div>



<script>
     document.addEventListener("DOMContentLoaded", function () {
        });
</script>
