@* <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#addAssetModal">
    &#8853; Add Assets
</button> *@
@await Html.PartialAsync("_EditAssetForm")
@{
  var category = ViewData["Category"]?.ToString() ?? "Unknown";
}

<div class="assetManage">
  <button class="dropbtn"> Manage Asset</button>
  <div id="myassetManage" class="assetManage-content">
    @if (category.Equals("Software", StringComparison.OrdinalIgnoreCase))
    {
      <a href="#" data-bs-toggle="modal" data-bs-target="#addSoftwareModal">&#10133; Add Software</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#editAssetModal">&#128295; Edit Asset</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#addCategoryModal">&#128194; Add New Category</a>
    }
    else
    {
      <!-- Hardware asset has a separate menu that allows bulk addition of assets -->
      <a href="#" data-bs-toggle="modal" data-bs-target="#addAssetModal"> &#10133; Add Hardware</a>
      <a href="#" id="loadProgressBtn">&#128190; Load Saved Progress</a>
      <a href="#" data-bs-toggle="modal" data-bs-target="#addCategoryModal">&#128194; Add New Category</a>
    }

  </div>
</div>