@* <button class="button" type="button" data-bs-toggle="modal" data-bs-target="#addAssetModal">
    &#8853; Add Assets
</button> *@

<div class="assetManage">
  <button class="dropbtn"> Manage Asset</button>
  <div id="myassetManage" class="assetManage-content">
    <a href="#"  data-bs-toggle="modal" data-bs-target="#addAssetModal">&#10133; Add Asset</a>
    <a href="#">&#128295; Edit Asset</a> @* Hanna: This should be linked to the edit asset form, refer to _AssetAddForm  *@
     <a href="#">&#128194; Add New Category</a> @* Hanna: This should be linked to the Add new Category Form, refer to _AssetAddForm  *@
  </div>
</div>


