<div class="homepage-cards">
    <div class="card">
    <h3>Monitors</h3>
    <p class="total">150 total</p>
    <p class="available">Available: 120</p>
</div>

<div class="card">
    <h3>Laptops</h3>
    <p class="total">120 total</p>
    <p class="available">Available: 85</p>
</div>

<div class = "card">
    <h3>Desktops</h3>
    <p class="total">100 total</p>
    <p class="available">Available: 70</p>
</div>

<div class="card">
    <h3>Software Licenses</h3>
    <p class="total">200 total</p>
    <p class="available">Available: 180</p>
</div>

<div class="card">
    <h3>Headsets</h3>
    <p class="total">80 total</p>
    <p class="available">Available: 60</p>
</div>

<div class="card">
    <h3>Charging Cables</h3>
    <p class="total">90 total</p>
    <p class="available">Available: 75</p>
    </div>
</div>