@model Tuple<List<string>, List<Dictionary<string, string>>>

<div class="table-container">
    <table class="report-table">
        <thead>
            <tr>
                <th scope="col">
                    <span class="sort-text"></span>
                </th>
                @foreach (var header in Model.Item1) {
                    <th scope="col">
                        <span class="sort-text">@header</span>
                    </th>
                }
            </tr>
        </thead>
        <tbody id="table-body">
            @if (Model.Item2.Count == 0) {
                <tr><td colspan="@Model.Item1.Count" style="text-align: center;">No data available</td></tr>
            } else {
                @foreach (var row in Model.Item2) {
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                        </td>
                        @foreach (var header in Model.Item1) {
                            <td>@(row.ContainsKey(header) ? row[header] : "-")</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
