<body>
    <a href="/AssetDetails/Index?category=Monitor" class="card-link">
        <div class="card">
            <span class="status-dot green"></span>
            <h3>Monitors</h3>
            @* <img src="~/CardComponentImages/Monitor.png" alt="Monitors" class="card-image"> *@
            <div class="emoji-bg">🖥️</div>
            <p class="total">150 total</p>
            <p class="available-percentage">Available: 64%</p> <!-- Percentage data to reflect client meeting notes -->
        </div>
    </a>

    <a href="/AssetDetails/Index?category=Laptop" class="card-link">
        <div class="card">
            <span class="status-dot red"></span>
            <h3>Laptops</h3>
            @* <img src="~/CardComponentImages/Laptop.png" alt="Laptops" class="card-image"> *@
            <div class="emoji-bg">💻</div>
            <p class="total">120 total</p>
            <p class="runningLow">Low: 8%</p>
        </div>
    </a>

    <a href="/AssetDetails/Index?category=Desktop" class="card-link">
        <div class="card">
            <span class="status-dot green"></span>
            <h3>Desktops</h3>
            @* <img src="~/CardComponentImages/Desktop.png" alt="Desktops" class="card-image"> *@
            <div class="emoji-bg">🖳</div> @*emoticons changed to unicode to avoid Apple licensing issue*@
            <p class="total">100 total</p>
            <p class="available-percentage">Available: 64%</p>
        </div>
    </a>

    <a href="/AssetDetails/Index?category=Software" class="card-link">
        <div class="card">
            <span class="status-dot red"></span>
            <h3>Software Licenses</h3>
            @* <img src="~/CardComponentImages/Software.png" alt="Software Licenses" class="card-image"> *@
            <div class="emoji-bg">💿</div>
            <p class="total">200 total</p>
            <p class="runningLow">Low: 16%</p>
        </div>
    </a>

    <a href="/AssetDetails/Index?category=Headset" class="card-link">
        <div class="card">
            <span class="status-dot green"></span>
            <h3>Headsets</h3>
            @* <img src="~/CardComponentImages/Headset.png" alt="Headset" class="card-image"> *@
            <div class="emoji-bg">🎧</div>
            <p class="total">80 total</p>
            <p class="available-percentage">Available: 64%</p>
        </div>
    </a>

    <a href="/AssetDetails/Index?category=Charging Cable" class="card-link">
        <div class="card">
            <span class="status-dot green"></span>
            <h3>Charging Cables</h3>
            @* <img src="~/CardComponentImages/ChargingCable.png" alt="Charging Cables" class="card-image"> *@
            <div class="emoji-bg">🔌</div>
            <p class="total">90 total</p>
            <p class="available-percentage">Available: 64%</p>
        </div>
    </a>


</body>
